.accountsetting_footer {
display: flex;
align-items: center;
justify-content: center;
}

.accountsetting_username{
    margin-top:10px;
    margin-bottom:10px;
    color:#B086F7;
    font-size:30px;
    font-weight:bold;
}

.accountsetting_pfp{
    margin-top:-20px;
    margin-bottom:40px;
}